.overlay {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 9999;
    background: #c8c4c4;
    opacity: .75;
    filter: alpha(opacity=75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay img {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX( -50% ) translateY( -50% );
    -moz-transform: translateX( -50% ) translateY( -50% );
    -webkit-transform: translateX( -50% ) translateY( -50% );
}